div.slide p {
  font-size: 40px;
}

pre {
  font-size: 32px;
}

li {
  font-size: 40px;
}



body.presenter_view div#current_presenter_notes li {
  font-size: 14px;
  padding: 0;
}

body.presenter_view div#current_presenter_notes section {
  height: 170px;
}
